<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>window._graphql = <%= JSON.stringify(htmlWebpackPlugin.options.graphql) %>;</script>
    <title>Buildkite GraphQL Explorer Beta</title>
    <style>
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="root" style="height: 100%"></div>
  </body>
</html>
